/* Ajuste del contenedor principal */
.content-container {
    margin-top: 80px; /* Ajustar para que coincida con el tamaño del navbar */
    padding: 20px;
    text-align: center;
}

/* Fondo ajustado para todas las vistas */
body {
    background-size: cover;
    background-position: center;  /* Centrar la imagen de fondo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el contenido de la página */
.page-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
    width: 90%; /* Asegura que se vea bien en pantallas pequeñas */
    max-width: 1200px; /* Limita el ancho en pantallas grandes */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
