
.navbar {
  max-width: 1300px; /* Limitar el ancho del navbar */
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #1f2a44; /* Color de fondo del navbar */
  padding: 50px 30px; /* Reducir el padding para disminuir la altura */
  height: 40px; /* Establecer una altura fija más baja */
  display: flex;
  align-items: center; /* Alinear el contenido verticalmente */
}

.navbar a {
  font-size: 16px; /* Ajustar el tamaño del texto si es necesario */
}

.navbar-toggler {
  color: #ffffff !important;
  cursor: pointer;
  font-size: 2.5rem !important;
  padding: 15px !important;
  border: none !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.user-icon {
  font-size: 2.5rem !important;
  margin-right: 20px !important;
  padding: 10px !important;
  color: #ffffff;
}

.user-icon:hover {
  color: #f0a500 !important;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem !important;
  padding: 15px 20px !important;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Usuario dropdown styles */
#user-dropdown {
  font-size: 1.5rem;
  color: #ffffff; /* Color blanco */
  font-weight: bold;
  cursor: pointer;
}

#user-dropdown .dropdown-toggle::after {
  border-top-color: #ffffff; /* Flecha del dropdown en blanco */
}

.navbar .dropdown-menu {
  background-color: #1f2a44; /* Fondo del dropdown igual al navbar */
  border: none;
}

.navbar .dropdown-item {
  color: #ffffff; /* Opciones del dropdown en blanco */
  font-weight: bold;
}

.navbar .dropdown-item:hover {
  background-color: #f0a500; /* Fondo al pasar el cursor */
}
