html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #f0f4ff;
}

#root, .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-navbar {
    background-color: #1f2847;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.content {
    margin-top: 80px;
    padding: 40px;
    background-color: #1392a6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('/img/Documento A4 Portada Proyecto de Matemáticas Ilustrado Azul.png');
    background-size: cover;
    background-position: center;
}

.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1500px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .heading {
      font-size: 1.5rem;
    }
}
